<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Call Us for Clean 
            <br />
            Homes, Offices & Carpets Today!
        </h2>
        <p>
            Book Now and get 15% Off First Time Customer
        </p>
        <a href="/contact" class="bespoke-button-solid">Get an Estimate Now</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/about-us-optimized.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/about-us-optimized.webp">
        <img aria-hidden="true" decoding="async" src="/assets/images/about-us-optimized.webp" alt="kitchen cabinets"
            loading="lazy" width="2500" height="1667">
    </picture>

</section>