---
title: 'Reviews | YEG Carpet Cleaning Services'
description: 'Meta description for the page'
preloadImg: '/assets/images/cta-bg.webp'
permalink: 'reviews/'
eleventyNavigation:
    key: Reviews
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/reviews.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Our Reviews</h1>
    <picture class="bespoke-picture">
        <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/landing.jpg" alt="new home" width="2500"
            height="1667" loading="eager">
    </picture>
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1088">
    <div class="bespoke-container">
        <div class="bespoke-content">
            <span class="bespoke-topper">Testimonials</span>
            <h2 class="bespoke-title">Words From Our Customers</h2>
        </div>
        <ul class="bespoke-card-group">
            <li class="bespoke-item">
                <img class="bespoke-image" src="{{ client.domain }}/assets/images/profile.png" alt="profile" width="112" height="112" aria-hidden="true" decoding="async" loading="lazy">
                <img class="bespoke-icon" src="{{ client.domain }}/assets/images/quotes.png" alt="icon" width="52" height="36" aria-hidden="true" decoding="async" loading="lazy">
                <p class="bespoke-item-text">
                    Kelvin and Bennett—10 Years of Carpet Grime Gone! 
                </p>
                <p class="bespoke-item-text">
                    We hadn’t had the carpets cleaned since we moved in...over 10 years ago! With two dogs and a couple of birds in the mix, you can imagine the kind of mess that’s built up. But after putting it off for so long, we finally decided to call in the pros, and we couldn’t be happier we went with Kelvin and Bennett!
                </p>
                <div class="bespoke-flex">
                    <span class="bespoke-name">Renz</span>
                    <span class="bespoke-desc">November 17, 2024</span>
                    ⭐⭐⭐⭐⭐
                </div>
            </li>
            <li class="bespoke-item">
                <img class="bespoke-image" src="{{ client.domain }}/assets/images/profile.png" alt="profile" width="112" height="112" aria-hidden="true" decoding="async" loading="lazy">
                <img class="bespoke-icon" src="{{ client.domain }}/assets/images/quotes.png" alt="icon" width="52" height="36" aria-hidden="true" decoding="async" loading="lazy">
                <p class="bespoke-item-text">
                    I hired Yeg Carpet cleaning to clean my Airbnb carpets. They were very professional, did an excellent job and I would definitely use their service again.
                </p>
                <div class="bespoke-flex">
                    <span class="bespoke-name">Amir</span>
                    <span class="bespoke-desc">November 6, 2024</span>
                    ⭐⭐⭐⭐⭐
                </div>
            </li>
            <li class="bespoke-item">
                <img class="bespoke-image" src="{{ client.domain }}/assets/images/profile.png" alt="profile" width="112" height="112" aria-hidden="true" decoding="async" loading="lazy">
                <img class="bespoke-icon" src="{{ client.domain }}/assets/images/quotes.png" alt="icon" width="52" height="36" aria-hidden="true" decoding="async" loading="lazy">
                <p class="bespoke-item-text">
                    If you are looking for carpet cleaning services, I will definitely recommend this company. YEG CARPET CLEANING. They were very efficient to remove stains, dirt, debris, and allergens from carpets. Reliable, honest and affordable.
                </p>
                <div class="bespoke-flex">
                    <span class="bespoke-name">Relly</span>
                    <span class="bespoke-desc">November 4, 2024</span>
                    ⭐⭐⭐⭐⭐
                </div>
            </li>
            <li class="bespoke-item">
                <img class="bespoke-image" src="{{ client.domain }}/assets/images/profile.png" alt="profile" width="112" height="112" aria-hidden="true" decoding="async" loading="lazy">
                <img class="bespoke-icon" src="{{ client.domain }}/assets/images/quotes.png" alt="icon" width="52" height="36" aria-hidden="true" decoding="async" loading="lazy">
                <p class="bespoke-item-text">
                    The quality of the work was impressive, and I was particularly pleased with the effectiveness of your cleaning machinery. The results exceeded my expectations, leaving my carpets looking refreshed and revitalized.
                </p>
                <div class="bespoke-flex">
                    <span class="bespoke-name">Emilio </span>
                    <span class="bespoke-desc">November 3, 2024</span>
                    ⭐⭐⭐⭐⭐
                </div>
            </li>
            <li class="bespoke-item">
                <img class="bespoke-image" src="{{ client.domain }}/assets/images/profile.png" alt="profile" width="112" height="112" aria-hidden="true" decoding="async" loading="lazy">
                <img class="bespoke-icon" src="{{ client.domain }}/assets/images/quotes.png" alt="icon" width="52" height="36" aria-hidden="true" decoding="async" loading="lazy">
                <p class="bespoke-item-text">
                    Their carpet cleaning exceeded expectations. We are delighted with the removal of the problematic spots and highly recommend their services. Moreover, the price was fairly valued. Mabait pa kausap sila kabayan.
                </p>
                <div class="bespoke-flex">
                    <span class="bespoke-name">Riahn </span>
                    <span class="bespoke-desc">November 3, 2024</span>
                    ⭐⭐⭐⭐⭐
                </div>
            </li>
            <li class="bespoke-item">
                <img class="bespoke-image" src="{{ client.domain }}/assets/images/profile.png" alt="profile" width="112" height="112" aria-hidden="true" decoding="async" loading="lazy">
                <img class="bespoke-icon" src="{{ client.domain }}/assets/images/quotes.png" alt="icon" width="52" height="36" aria-hidden="true" decoding="async" loading="lazy">
                <p class="bespoke-item-text">
                    Recommended their company!
                </p>
                <div class="bespoke-flex">
                    <span class="bespoke-name">Mhel </span>
                    <span class="bespoke-desc">November 3, 2024</span>
                    ⭐⭐⭐⭐⭐
                </div>
            </li>
        </ul>
    </div>
</section>

{% include 'components/cta.html' %}

{% endblock %}