---
title: 'Services | Code Stitch Web Designs'
description: 'Book Cleaning Service in YEG'
preloadImg: '/assets/images/cta-bg.webp'
permalink: 'services/'
eleventyNavigation:
    key: Services
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Services</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cta-bg.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/cta-bg.webp" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="hero-1299" class="bespoke-services-only">
        <div class="bespoke-container">
            <ul class="bespoke-card-group">
                <li class="bespoke-item">
                    <a href="/services/residential/" class="bespoke-link">
                        <img aria-hidden="true" decoding="async" src="/assets/svgs/service3.svg" class="bespoke-icon" alt="residential" width="48" height="48" />
                        <h3 class="bespoke-h3">Residential Cleaning</h3>
                        <p class="bespoke-item-text">
                            <ul class="bespoke-ul">
                                <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Move In / Move Out</li>
                                <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Before / After Events</li>
                                <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Senior Living Spaces</li>
                            </ul>
                        </p>
                    </a>
                </li>
                <li class="bespoke-item">
                    <a href="/services/commercial/" class="bespoke-link">
                        <img aria-hidden="true" decoding="async" src="/assets/svgs/service2.svg" class="bespoke-icon" alt="residential" width="48" height="48" />
                        <h3 class="bespoke-h3">Commercial Cleaning</h3>
                        <p class="bespoke-item-text">
                            <ul class="bespoke-ul">
                                <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Offices</li>
                                <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Airbnb</li>
                                <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Places of Worship</li>
                                <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Showrooms</li>
                                <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Classrooms</li>
                                <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Schools Daycare</li>
                            </ul>
                        </p>
                    </a>
                </li>
                <li class="bespoke-item">
                    <a href="/services/carpet/" class="bespoke-link">
                        <img aria-hidden="true" decoding="async" src="/assets/svgs/service1.svg" class="bespoke-icon" alt="residential" width="48" height="48" />
                        <h3 class="bespoke-h3">Carpet Cleaning</h3>
                        <p class="bespoke-item-text">
                            <ul class="bespoke-ul">
                                <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Steam Cleaning</li>
                                <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Carpet Shampoo</li>
                                <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Deep Cleaning</li>
                                <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Stain Removal</li>
                                <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Deodorizing</li>
                                <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Area Rug & Upholstery Cleaning</li>
                            </ul>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
        <!--Floating Arrow-->
    </section>

    <!-- ============================================ -->
    <!--               Before And After               -->
    <!-- ============================================ -->

    <section id="gallery-1897">
        <div class="bespoke-container">
            <div class="bespoke-content">
                <div class="bespoke-flex">
                    <span class="bespoke-topper">Our Gallery</span>
                    <h2 class="bespoke-title">Witness The Difference and Our Results</h2>
                </div>
                <a class="bespoke-button-solid" href="/services/">View All</a>
            </div>
            <!--Gallery-->
            <div class="bespoke-gallery">
                <div class="bespoke-item">
                    <p class="bespoke-item-text">Residential Cleaning</p>
                    <div class="bespoke-picture-group">
                        <picture class="bespoke-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/carpet_2-before-optimized.webp">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/carpet_2-before-optimized.webp">
                            <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/carpet_2-before-optimized.webp" alt="carpet 2 before" width="305" height="400">
                        </picture>
                        <span class="bespoke-tag">Before</span>
                    </div>
                    <div class="bespoke-picture-group">
                        <picture class="bespoke-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/carpet_2-after-optimized.webp">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/carpet_2-after-optimized.webp">
                            <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/carpet_2-after-optimized.webp" alt="carpet 2 after" width="305" height="400">
                        </picture>
                        <span class="bespoke-tag">After</span>
                    </div>
                </div>
                <div class="bespoke-item">
                    <p class="bespoke-item-text">Commercial Cleaning</p>
                    <div class="bespoke-picture-group">
                        <picture class="bespoke-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/carpet_3-before-optimized.webp">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/carpet_3-before-optimized.webp">
                            <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/carpet_3-before-optimized.webp" alt="carpet 3 before" width="305" height="400">
                        </picture>
                        <span class="bespoke-tag">Before</span>
                    </div>
                    <div class="bespoke-picture-group">
                        <picture class="bespoke-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/carpet_3-after-optimized.webp">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/carpet_3-after-optimized.webp">
                            <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/carpet_3-after-optimized.webp" alt="carpet 3 after" width="305" height="400">
                        </picture>
                        <span class="bespoke-tag">After</span>
                    </div>
                </div>
                <div class="bespoke-item">
                    <p class="bespoke-item-text">Carpet Cleaning</p>
                    <div class="bespoke-picture-group">
                        <picture class="bespoke-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/carpet_1-before-optimized.webp">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/carpet_1-before-optimized.webp">
                            <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/carpet_1-before-optimized.webp" alt="carpet 1 before" width="305" height="400">
                        </picture>
                        <span class="bespoke-tag">Before</span>
                    </div>
                    <div class="bespoke-picture-group">
                        <picture class="bespoke-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/carpet_1-after-optimized.webp">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/carpet_1-after-optimized.webp">
                            <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/carpet_1-after-optimized.webp" alt="carpet 1 after" width="305" height="400">
                        </picture>
                        <span class="bespoke-tag">After</span>
                    </div>
                </div>
                <div class="bespoke-item">
                    <p class="bespoke-item-text">Carpet Cleaning</p>
                    <div class="bespoke-picture-group">
                        <picture class="bespoke-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/carpet_4-before-optimized.webp">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/carpet_4-before-optimized.webp">
                            <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/carpet_4-before-optimized.webp" alt="carpet 4 before" width="305" height="400">
                        </picture>
                        <span class="bespoke-tag">Before</span>
                    </div>
                    <div class="bespoke-picture-group">
                        <picture class="bespoke-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/carpet_4-after-optimized.webp">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/carpet_4-after-optimized.webp">
                            <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/carpet_4-after-optimized.webp" alt="gallery" width="305" height="400">
                        </picture>
                        <span class="bespoke-tag">After</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                     CTA                      -->
    <!-- ============================================ -->

    <section id="cta-51">
        <div class="bespoke-container">
            <div class="bespoke-content">
                <h3 class="bespoke-title">15% discount for new customers!</h3>
                <a href="tel:587-335-2755" class="bespoke-button-solid">Avail</a>
            </div>
        </div>
        <!-- Background Image-->
        <picture class="bespoke-picture">
            <source media="(max-width: 600px)" srcset="{{client.domain}}/assets/images/cta-bg.webp">
            <source media="(min-width: 601px)" srcset="{{client.domain}}/assets/images/cta-bg.webp">
            <img loading="lazy" decoding="async" src="{{client.domain}}/assets/images/cta-bg.webp" alt="cabinets" width="1920" height="1280" aria-hidden="true">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery">
        <div class="bespoke-container">
            <span class="bespoke-topper">Our Portfolio</span>
            <h2 class="bespoke-title">Residential and Commercial Carpet Cleaning</h2>
            <p class="bespoke-text">We offer Complete Residential and Commercial Cleaning Services, including move-in/move-out cleaning, office cleaning, Airbnb turnover services, and more.</p>
            <div class="bespoke-image-group">
                <!-- Row 1-->
                <div class="bespoke-row bespoke-row-1">
                    <!-- To add more images, copy and paste this row's picture tags here in order from bespoke-picture-1 to bespoke-picture-3 and they will maintain the same layout-->
                    <picture class="bespoke-picture bespoke-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/gallery1.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/gallery1.webp">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/gallery1.webp" alt="gallery 1"
                            loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="bespoke-picture bespoke-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/gallery4.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/gallery4.webp">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/gallery4.webp"
                            alt="gallery 2" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="bespoke-picture bespoke-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/gallery7.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/gallery7.webp">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/gallery7.webp"
                            alt="gallery 3" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 2 -->
                <div class="bespoke-row bespoke-row-2">
                    <!-- To add more images, copy and paste this row's picture tags here in order from bespoke-picture-1 to bespoke-picture-3 and they will maintain the same layout-->
                    <picture class="bespoke-picture bespoke-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/gallery2.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/gallery2.webp">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/gallery2.webp" alt="gallery 4"
                            loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="bespoke-picture bespoke-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/gallery5.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/gallery5.webp">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/gallery5.webp"
                            alt="gallery 5" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="bespoke-picture bespoke-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/gallery8.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/gallery8.webp">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/gallery8.webp"
                            alt="gallery 6" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 3 -->
                <div class="bespoke-row bespoke-row-3">
                    <!-- To add more images, copy and paste this row's picture tags here in order from bespoke-picture-1 to bespoke-picture-3 and they will maintain the same layout-->
                    <picture class="bespoke-picture bespoke-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/gallery3.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/gallery3.webp">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port3.jpg" alt="gallery 7"
                            loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="bespoke-picture bespoke-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/gallery6.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/gallery6.webp">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/gallery6.webp"
                            alt="gallery 8" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="bespoke-picture bespoke-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/gallery9.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/gallery9.webp">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/gallery9.webp"
                            alt="gallery 9" loading="lazy" width="400" height="560">
                    </picture>

                </div>
            </div>
            <a href="/services/" class="bespoke-button-solid">View Full Gallery</a>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}