---
title: 'Residential Cleaning | YEG Carpet Cleaning'
description: 'Book for a Residential Cleaning Service'
preloadImg: '/assets/images/residential-cleaning-service.webp'
permalink: 'services/deepcleaning/'
eleventyNavigation:
    key: Deep Cleaning
    order: 3300
    parent: Services
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h" style="color:var(--primary)">Deep Cleaning</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/aboutBg.png">
            <source media="(min-width: 601px)" srcset="/assets/images/aboutBg.png">
            <img aria-hidden="true" decoding="async" src="/assets/images/aboutBg.png" alt="residentialresidential cleaning banner" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <!-- <section id="sbs-1443">
        <div class="bespoke-container">
            <picture class="bespoke-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/residential.png">
                <source media="(min-width: 601px)" srcset="/assets/images/residential.png">
                <img loading="lazy" decoding="async" src="/assets/images/residential.png" alt="residential cleaning content" width="650" height="600" aria-hidden="true">
            </picture>
            <div class="bespoke-content">
                <span class="bespoke-topper">Residential Cleaning</span>
                <h2 class="bespoke-title">Reliable Residential Cleaning Services in Edmonton</h2>
                <p class="bespoke-text">
                    Enjoy a consistently clean and organized home with our routine Residential Cleaning Services. We handle the everyday tasks so you can relax and focus on what matters most.
                </p>
                <ul class="bespoke-card-group">
                    <li class="bespoke-li">
                        <div class="bespoke-flex">
                            <h3 class="bespoke-h3">Dusting & Surface Cleaning 🧽🪞</h3>
                            <p class="bespoke-li-text">
                                Remove dust and keep all surfaces spotless and shiny.
                            </p>
                        </div>
                    </li>
                    <li class="bespoke-li">
                        <div class="bespoke-flex">
                            <h3 class="bespoke-h3">Vacuuming & Mopping 🧹🧼</h3>
                            <p class="bespoke-li-text">
                                Clean floors in every room, from tiles to hardwood and carpets.
                            </p>
                        </div>
                    </li>
                    <li class="bespoke-li">
                        <div class="bespoke-flex">
                            <h3 class="bespoke-h3">Kitchen Cleaning 🍽️🧼</h3>
                            <p class="bespoke-li-text">
                                Wipe down counters, clean appliances, and tidy up your cooking space.
                            </p>
                        </div>
                    </li>
                    <li class="bespoke-li">
                        <div class="bespoke-flex">
                            <h3 class="bespoke-h3">Bathroom Cleaning 🚿🧴</h3>
                            <p class="bespoke-li-text">
                                Scrub sinks, toilets, tubs, and mirrors to maintain freshness.
                            </p>
                        </div>
                    </li>
                    <li class="bespoke-li">
                        <div class="bespoke-flex">
                            <h3 class="bespoke-h3">Bedroom Tidying 🛏️🧺</h3>
                            <p class="bespoke-li-text">
                                Make beds, organize, and refresh your personal spaces.
                            </p>
                        </div>
                    </li>
                    <li class="bespoke-li">
                        <div class="bespoke-flex">
                            <h3 class="bespoke-h3">Trash Removal 🗑️🚮</h3>
                            <p class="bespoke-li-text">
                                Empty waste bins and manage household garbage efficiently.
                            </p>
                        </div>
                    </li>
                </ul>     
                <a href="/contact/" class="bespoke-button-solid">Book for a Service Now</a>        
            </div>
            
        </div>
    </section> -->
    <section class=" w-full flex flex-col items-center mt-12 mb-12">
        <div class="mx-auto flex flex-col items-center w-3/4">
            <img src="/assets/images/deep.png" class="">
        </div>
        <h1 class="bespoke-title" style="margin-top: 16px;">Deep Cleaning</h1>
        <p class="bespoke-text text-center w-3/4 font-bold">Enjoy a consistently clean and organized home with our routine Residential 
            Cleaning Services. We handle the everyday tasks so you can relax and focus on what matters most.</p>
            <div class="w-3/4 mt-8 lg:flex lg:w-full lg:grid lg:grid-cols-5 lg:gap-8 ">
                <div class="flex flex-row items-start gap-x-4 w-full lg:col-start-2 lg:col-span-3 xl">
                  <span class="material-symbols-outlined" style="color:var(--primary); font-size: 2rem;">check_box</span>
                  <div>
                    <h1 class="text-xl font-bold">Deep Cleaning</h1>
                    <h2>A comprehensive cleaning that goes beyond the surface, targeting every corner and detail for a spotless home.</h2>
                  </div>
                </div>
              </div>
              
              <div class="w-3/4 mt-8 lg:flex lg:w-full lg:grid lg:grid-cols-5 lg:gap-8 ">
                <div class="flex flex-row items-start gap-x-4 w-full lg:col-start-2 lg:col-span-3 xl">
                  <span class="material-symbols-outlined" style="color:var(--primary); font-size: 2rem;">check_box</span>
                  <div>
                    <h1 class="text-xl font-bold">Kitchen Cleaning</h1>
                    <h2>Thoroughly clean countertops, sinks, appliances, and cabinets, ensuring all grease, food residues, and stains are removed.</h2>
                  </div>
                </div>
              </div>
              
              <div class="w-3/4 mt-8 lg:flex lg:w-full lg:grid lg:grid-cols-5 lg:gap-8 ">
                <div class="flex flex-row items-start gap-x-4 w-full lg:col-start-2 lg:col-span-3 xl">
                  <span class="material-symbols-outlined" style="color:var(--primary); font-size: 2rem;">check_box</span>
                  <div>
                    <h1 class="text-xl font-bold">Bathroom Sanitization</h1>
                    <h2>Scrub and sanitize toilets, tubs, sinks, and mirrors to remove soap scum, grime, and bacteria, leaving your bathroom sparkling.</h2>
                  </div>
                </div>
              </div>
              
              <div class="w-3/4 mt-8 lg:flex lg:w-full lg:grid lg:grid-cols-5 lg:gap-8 ">
                <div class="flex flex-row items-start gap-x-4 w-full lg:col-start-2 lg:col-span-3 xl">
                  <span class="material-symbols-outlined" style="color:var(--primary); font-size: 2rem;">check_box</span>
                  <div>
                    <h1 class="text-xl font-bold">Floor Cleaning</h1>
                    <h2>Clean and sanitize all floors, including carpets, tiles, hardwood, and rugs, using appropriate methods like vacuuming and mopping.</h2>
                  </div>
                </div>
              </div>
              
              <div class="w-3/4 mt-8 lg:flex lg:w-full lg:grid lg:grid-cols-5 lg:gap-8 ">
                <div class="flex flex-row items-start gap-x-4 w-full lg:col-start-2 lg:col-span-3 xl">
                  <span class="material-symbols-outlined" style="color:var(--primary); font-size: 2rem;">check_box</span>
                  <div>
                    <h1 class="text-xl font-bold">Window & Glass Cleaning</h1>
                    <h2>Wash and clean all windows and glass surfaces, leaving them streak-free and spotless inside and out.</h2>
                  </div>
                </div>
              </div>
              
              <div class="w-3/4 mt-8 lg:flex lg:w-full lg:grid lg:grid-cols-5 lg:gap-8 ">
                <div class="flex flex-row items-start gap-x-4 w-full lg:col-start-2 lg:col-span-3 xl">
                  <span class="material-symbols-outlined" style="color:var(--primary); font-size: 2rem;">check_box</span>
                  <div>
                    <h1 class="text-xl font-bold">Dusting & Surface Cleaning</h1>
                    <h2>Remove dust, dirt, and cobwebs from surfaces, furniture, and decorations, leaving every room fresh and clean.</h2>
                  </div>
                </div>
              </div>
              
              <div class="w-3/4 mt-8 lg:flex lg:w-full lg:grid lg:grid-cols-5 lg:gap-8 ">
                <div class="flex flex-row items-start gap-x-4 w-full lg:col-start-2 lg:col-span-3 xl">
                  <span class="material-symbols-outlined" style="color:var(--primary); font-size: 2rem;">check_box</span>
                  <div>
                    <h1 class="text-xl font-bold">Cabinet & Drawer Cleaning</h1>
                    <h2>Wipe down and organize kitchen and bathroom cabinets and drawers to remove dust, spills, and grime.</h2>
                  </div>
                </div>
              </div>
              
              <div class="w-3/4 mt-8 lg:flex lg:w-full lg:grid lg:grid-cols-5 lg:gap-8 ">
                <div class="flex flex-row items-start gap-x-4 w-full lg:col-start-2 lg:col-span-3 xl">
                  <span class="material-symbols-outlined" style="color:var(--primary); font-size: 2rem;">check_box</span>
                  <div>
                    <h1 class="text-xl font-bold">Baseboard & Trim Cleaning</h1>
                    <h2>Wipe and clean baseboards and trim, removing dust and stains that accumulate over time.</h2>
                  </div>
                </div>
              </div>
              
              <div class="w-3/4 mt-8 lg:flex lg:w-full lg:grid lg:grid-cols-5 lg:gap-8 ">
                <div class="flex flex-row items-start gap-x-4 w-full lg:col-start-2 lg:col-span-3 xl">
                  <span class="material-symbols-outlined" style="color:var(--primary); font-size: 2rem;">check_box</span>
                  <div>
                    <h1 class="text-xl font-bold">Appliance Cleaning</h1>
                    <h2>Clean and sanitize all major appliances, including ovens, refrigerators, microwaves, and dishwashers, inside and out.</h2>
                  </div>
                </div>
              </div>
              
              <div class="w-3/4 mt-8 lg:flex lg:w-full lg:grid lg:grid-cols-5 lg:gap-8 ">
                <div class="flex flex-row items-start gap-x-4 w-full lg:col-start-2 lg:col-span-3 xl">
                  <span class="material-symbols-outlined" style="color:var(--primary); font-size: 2rem;">check_box</span>
                  <div>
                    <h1 class="text-xl font-bold">Light Fixture & Ceiling Fan Cleaning</h1>
                    <h2>Dust and clean light fixtures and ceiling fans, ensuring no dirt or grime remains on these high-touch areas.</h2>
                  </div>
                </div>
              </div>
              
              <div class="w-3/4 mt-8 lg:flex lg:w-full lg:grid lg:grid-cols-5 lg:gap-8 ">
                <div class="flex flex-row items-start gap-x-4 w-full lg:col-start-2 lg:col-span-3 xl">
                  <span class="material-symbols-outlined" style="color:var(--primary); font-size: 2rem;">check_box</span>
                  <div>
                    <h1 class="text-xl font-bold">Furniture Cleaning</h1>
                    <h2>Vacuum, wipe down, and spot-clean furniture, ensuring all upholstery is fresh and free of dust and stains.</h2>
                  </div>
                </div>
              </div>
              
              <div class="w-3/4 mt-8 lg:flex lg:w-full lg:grid lg:grid-cols-5 lg:gap-8 ">
                <div class="flex flex-row items-start gap-x-4 w-full lg:col-start-2 lg:col-span-3 xl">
                  <span class="material-symbols-outlined" style="color:var(--primary); font-size: 2rem;">check_box</span>
                  <div>
                    <h1 class="text-xl font-bold">Wall Cleaning</h1>
                    <h2>Remove marks, stains, and dust from walls, leaving the paintwork clean and fresh.</h2>
                  </div>
                </div>
              </div>
              
              <div class="w-3/4 mt-8 lg:flex lg:w-full lg:grid lg:grid-cols-5 lg:gap-8 ">
                <div class="flex flex-row items-start gap-x-4 w-full lg:col-start-2 lg:col-span-3 xl">
                  <span class="material-symbols-outlined" style="color:var(--primary); font-size: 2rem;">check_box</span>
                  <div>
                    <h1 class="text-xl font-bold">Pet Area Cleaning</h1>
                    <h2>If applicable, clean and sanitize pet areas, including removing pet hair and ensuring any mess is properly handled.</h2>
                  </div>
                </div>
              </div>
              
              <div class="w-3/4 mt-8 lg:flex lg:w-full lg:grid lg:grid-cols-5 lg:gap-8 ">
                <div class="flex flex-row items-start gap-x-4 w-full lg:col-start-2 lg:col-span-3 xl">
                  <span class="material-symbols-outlined" style="color:var(--primary); font-size: 2rem;">check_box</span>
                  <div>
                    <h1 class="text-xl font-bold">Final Touches</h1>
                    <h2>Ensure every room is meticulously checked for any missed spots and that everything is tidy, organized, and welcoming.</h2>
                  </div>
                </div>
              </div>
              
    </section>
    <!-- ============================================ -->
    <!--                  Why Choose                  -->
    <!-- ============================================ -->

    <!-- <section id="why-choose-1550">
        <div class="bespoke-container">
        <div id="bespoke-content">
            <h2 class="bespoke-title">Benefits of Our Carpet Cleaning Services</h2>
        </div>                    
            <ul class="bespoke-card-group">
                <li class="bespoke-item">
                    <div class="bespoke-icon-wrapper">
                        <img class="bespoke-icon" loading="lazy" decoding="async"
                                src="{{ client.domain }}/assets/svgs/satisfaction.svg" alt="icon"
                                width="48" height="48">
                    </div>
                    <div class="bespoke-flex">
                        <h2 class="bespoke-h2">Deep Clean for Healthier Living</h2>
                        <p class="bespoke-item-text">
                            Remove allergens and improve air quality.
                        </p>
                    </div>
                </li>
                <li class="bespoke-item">
                    <div class="bespoke-icon-wrapper">
                        <img class="bespoke-icon" loading="lazy" decoding="async"
                                src="{{ client.domain }}/assets/svgs/carpet.svg" alt="icon"
                                width="48" height="48">
                    </div>
                    <div class="bespoke-flex">
                        <h2 class="bespoke-h2">Prolong Carpet Lifespan</h2>
                        <p class="bespoke-item-text">
                            Protect your investment with regular cleaning.
                        </p>
                    </div>
                </li>
                <li class="bespoke-item">
                    <div class="bespoke-icon-wrapper">
                        <img class="bespoke-icon" loading="lazy" decoding="async"
                                src="{{ client.domain }}/assets/svgs/lightning.svg"
                                alt="icon" width="48" height="48">
                    </div>
                    <div class="bespoke-flex">
                        <h2 class="bespoke-h2">Fast Drying Times</h2>
                        <p class="bespoke-item-text">
                            Minimal downtime with advanced cleaning technology.
                        </p>
                    </div>
                </li>
                <li class="bespoke-item">
                    <div class="bespoke-icon-wrapper">
                        <img class="bespoke-icon" loading="lazy" decoding="async"
                                src="{{ client.domain }}/assets/svgs/plant.svg" alt="icon"
                                width="48" height="48">
                    </div>
                    <div class="bespoke-flex">
                        <h2 class="bespoke-h2">Eco-Friendly Solutions</h2>
                        <p class="bespoke-item-text">
                            Safe for your family, pets, and the environment.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <picture class="bespoke-background"> -->
            <!--Mobile Image-->
            <!-- <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/why-choose-us-bg.webp"> -->
            <!--Tablet and above Image-->
            <!-- <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/why-choose-us-bg.webp">
            <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/why-choose-us-bg.webp" alt="texture" width="1920" height="550">
        </picture>
    </section> -->
    <section id="whyChooseUs" class="w-full text-center mx-auto pt-12 pb-12 bg-cover bg-center" style="background-image:url('/assets/images/aboutBg.png');">
        <h4 class="bespoke-title bespoke-subtitle mx-auto text-white" style="color: var(--primary);">Why Choose Us?</h4>
        <h4 style="color:var(--bodyTextColorWhite);" class="w-full sm:w-3/4 mt-4 text-center mx-auto">At our cleaning company, we prioritize quality, 
            reliability, and customer satisfaction. Here’s why clients choose us:</h4>
        <div class="flex flex-col items-center gap-y-4 mx-auto mt-8 md:w-4/5 md:flex md:flex-row md:flex-wrap md:gap-4 md:justify-center">
    
            <!-- Card 1 -->
            <div class="w-3/4 max-w-[300px] sm:w-2/5 md:w-2/5 bg-white shadow-md rounded-2xl p-6 flex flex-col items-start gap-4 justify-center md:h-60 lg:max-w-[400px]">
                <span class="material-icons text-4xl" style="color:var(--primary)">groups</span>
                <h3 class="text-xl font-semibold">Experienced Team</h3>
                <p class="text-sm text-gray-600">Our trained professionals bring years of experience and attention to detail to every job.</p>
            </div>
    
            <!-- Card 2 -->
            <div class="w-3/4 max-w-[300px]  sm:w-2/5 md:w-2/5 bg-white shadow-md rounded-2xl p-6 flex flex-col items-start gap-4 justify-center md:h-60 lg:max-w-[400px]">
                <span class="material-icons text-4xl text-green-500" style="color:var(--primary)">tune</span>
                <h3 class="text-xl font-semibold">Customized Cleaning</h3>
                <p class="text-sm text-gray-600">We tailor our services to fit your specific needs and schedule.</p>
            </div>
    
            <!-- Card 3 -->
            <div class="w-3/4 max-w-[300px]  sm:w-2/5 md:w-2/5 bg-white shadow-md rounded-2xl p-6 flex flex-col items-start gap-4 justify-center md:h-60 lg:max-w-[400px]">
                <span class="material-icons text-4xl text-yellow-500" style="color:var(--primary)">verified_user</span>
                <h3 class="text-xl font-semibold">Trusted & Reliable</h3>
                <p class="text-sm text-gray-600">Punctual, dependable, and respectful of your space.</p>
            </div>
    
            <!-- Card 4 -->
            <div class="w-3/4 max-w-[300px]  sm:w-2/5 md:w-2/5 bg-white shadow-md rounded-2xl p-6 flex flex-col items-start gap-4 justify-center md:h-60 lg:max-w-[400px]">
                <span class="material-icons text-4xl text-emerald-500" style="color:var(--primary)">eco</span>
                <h3 class="text-xl font-semibold">Eco-Friendly Products</h3>
                <p class="text-sm text-gray-600">We use safe and effective cleaning products for a healthier environment.</p>
            </div>
    
            <!-- Card 5 -->
            <div class="w-3/4 max-w-[300px]  sm:w-2/5 md:w-2/5 bg-white shadow-md rounded-2xl p-6 flex flex-col items-start gap-4 justify-center md:h-60 lg:max-w-[400px]">
                <span class="material-icons text-4xl text-purple-500" style="color:var(--primary)">attach_money</span>
                <h3 class="text-xl font-semibold">Affordable Rates</h3>
                <p class="text-sm text-gray-600">High-quality cleaning services at competitive prices.</p>
            </div>
    
        </div>
        <a href="/contact/" class="bespoke-button-solid mt-12 text-white px-6 py-3 rounded-md bg-primary hover:bg-secondary transition-all" style="color: var(--secondary);">Get an Estimate now</a>
    </section>

    <!-- ============================================ -->
    <!--                   Steps                      -->
    <!-- ============================================ -->
<!-- 
    <section id="steps-1172">
        <div class="bespoke-container">
            <div class="bespoke-content">
                <span class="bespoke-topper">Our Work Process</span>
                <h2 class="bespoke-title">How To Get Started</h2>
                <p class="bespoke-text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa libero sint hic accusantium exercitationem, voluptatem officia quaerat velit quis ullam?
                </p>
            </div>
            <ul class="bespoke-card-group">
                <li class="bespoke-item">
                    <picture class="bespoke-picture">
                        <img class="bespoke-icon" src="{{ client.domain }}/assets/svgs/one.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <p class="bespoke-item-text">
                        Pre-inspection to identify specific cleaning needs.
                    </p>
                </li>
                <li class="bespoke-item">
                    <picture class="bespoke-picture">
                        <img class="bespoke-icon" src="{{ client.domain }}/assets/svgs/two.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <p class="bespoke-item-text">
                        Pre-treatment for stains and high-traffic areas.
                    </p>
                </li>
                <li class="bespoke-item">
                    <picture class="bespoke-picture">
                        <img class="bespoke-icon" src="{{ client.domain }}/assets/svgs/three.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <p class="bespoke-item-text">
                        Thorough cleaning using advanced equipment and techniques.
                    </p>
                </li>
                <li class="bespoke-item">
                    <picture class="bespoke-picture">
                        <img class="bespoke-icon" src="{{ client.domain }}/assets/svgs/four.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <p class="bespoke-item-text">
                        Post-cleaning inspection to ensure your satisfaction.
                    </p>
                </li>
            </ul>
        </div>
        <!--Tire Screech-->
        <!-- <img class="bespoke-graphic" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/tire-mark.svg" alt="icon" width="840" height="357" loading="lazy" decoding="async" aria-hidden="true">
    </section> --> -->
                                                                  
    <section id="portfolio" class="w-full mx-auto text-center mt-20 mb-20">
        <h4 class="bespoke-title bespoke-subtitle mx-auto" style="color: var(--secondary);">Portfolio</h4>
        <div class="flex flex-col items-center">
            <!-- Large Displayed Image -->
            <div class="w-[80vw] max-w-[500px] h-[300px]  bg-gray-300 rounded-lg overflow-hidden lg:hidden">
                <img id="mainImage" src="/assets/images/cs1.png" class="w-full h-full object-cover">
            </div>
    
            <!-- Thumbnail Navigation with Arrows -->
            <div class="flex items-center mt-4 w-[80vw] max-w-[500px] lg:max-w-[80vw]">
                <!-- Left Arrow -->
                <button id="prevBtn" class="p-2 bg-gray-300 rounded-full mx-2 lg:hidden" style="background-color: var(--primary);">&lt;</button>
    
                <!-- Scrollable Thumbnails -->
                <div id="thumbnailContainer" class="overflow-hidden lg:overflow-visible ">
                    <div id="thumbnailWrapper" class="flex gap-2 transition-transform duration-300 lg:w-[80vw] lg:flex lg:flex-row lg:flex-wrap lg:justify-center">
                        <img src="/assets/images/cs1.png" class="thumbnail w-16 h-16 rounded cursor-pointer border-2 border-transparent hover:border-gray-500 lg:w-96 lg:h-96" onclick="changeImage(this)">
                        <img src="/assets/images/cs2.png" class="thumbnail w-16 h-16 rounded cursor-pointer border-2 border-transparent hover:border-gray-500 lg:w-96 lg:h-96" onclick="changeImage(this)">
                        <img src="/assets/images/cs3.png" class="thumbnail w-16 h-16 rounded cursor-pointer border-2 border-transparent hover:border-gray-500 lg:w-96 lg:h-96" onclick="changeImage(this)">
                        <img src="/assets/images/cs4.png" class="thumbnail w-16 h-16 rounded cursor-pointer border-2 border-transparent hover:border-gray-500 lg:w-96 lg:h-96" onclick="changeImage(this)">
                        <img src="/assets/images/a1.png" class="thumbnail w-16 h-16 rounded cursor-pointer border-2 border-transparent hover:border-gray-500 lg:w-96 lg:h-96" onclick="changeImage(this)">
                        <img src="/assets/images/a2.png" class="thumbnail w-16 h-16 rounded cursor-pointer border-2 border-transparent hover:border-gray-500 lg:w-96 lg:h-96" onclick="changeImage(this)">
                        <img src="/assets/images/a3.png" class="thumbnail w-16 h-16 rounded cursor-pointer border-2 border-transparent hover:border-gray-500 lg:w-96 lg:h-96" onclick="changeImage(this)">
                        <img src="/assets/images/b3.png" class="thumbnail w-16 h-16 rounded cursor-pointer border-2 border-transparent hover:border-gray-500 lg:w-96 lg:h-96" onclick="changeImage(this)">
                    </div>
                </div>
    
                <!-- Right Arrow -->
                <button id="nextBtn" class="p-2 bg-gray-300 rounded-full mx-2 lg:hidden" style="background-color: var(--primary);">&gt;</button>
            </div>
        </div>
        <a href="/contact/" class="bespoke-button-solid mt-12" style="color: var(--secondary);">Get an Estimate now</a>
        <script>
            function changeImage(thumbnail) {
                document.getElementById("mainImage").src = thumbnail.src;
            }
    
            const thumbnailWrapper = document.getElementById("thumbnailWrapper");
            const prevBtn = document.getElementById("prevBtn");
            const nextBtn = document.getElementById("nextBtn");
    
            let scrollAmount = 0;
            const scrollStep = 100; // Amount to scroll on arrow click
    
            prevBtn.addEventListener("click", () => {
                scrollAmount -= scrollStep;
                if (scrollAmount < 0) scrollAmount = 0;
                thumbnailWrapper.style.transform = `translateX(-${scrollAmount}px)`;
            });
    
            nextBtn.addEventListener("click", () => {
                scrollAmount += scrollStep;
                if (scrollAmount > thumbnailWrapper.scrollWidth - thumbnailWrapper.clientWidth) {
                    scrollAmount = thumbnailWrapper.scrollWidth - thumbnailWrapper.clientWidth;
                }
                thumbnailWrapper.style.transform = `translateX(-${scrollAmount}px)`;
            });
        </script>
    </section>
    <!-- ============================================ -->
    <!--                     CTA                      -->
    <!-- ============================================ -->

    <!-- <section id="cta-51">
        <div class="bespoke-container">
            <div class="bespoke-content">
                <h3 class="bespoke-title">Breathe new life into your carpets – book your Carpet Cleaning Service today!</h3>
                <a href="/contact/" class="bespoke-button-solid">Schedule a Service Now</a>
            </div>
        </div>
        Background Image-->
        <!-- <picture class="bespoke-picture">
            <source media="(max-width: 600px)" srcset="{{client.domain}}/assets/images/carpet-cleaning-service.webp">
            <source media="(min-width: 601px)" srcset="{{client.domain}}/assets/images/carpet-cleaning-service.webp">
            <img loading="lazy" decoding="async" src="{{client.domain}}/assets/images/carpet-cleaning-service.webp" alt="residential cleaning cta" width="1920" height="1280" aria-hidden="true">
        </picture>
    </section> --> 

{% endblock %}